#userSuggestions {
  background-color: var(--lightGrey);
  border-radius: var(--borderRadius);
  gap: var(--contentSpacing);
  display: flex;
  flex-direction: column;
  height: 150px;
  width: calc(246px - var(--contentSpacing) * 2);
  padding: var(--contentSpacing);
  overflow: hidden;
}

#user {
  position: absolute;
  top: var(--contentSpacing);
  right: var(--contentSpacing);
}
