<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NCG - UserContent - Search</title>
  </head>
  <body>
    <m-overwrite-container>
      <div class="contentWrap">
        <n-title-bar>Nicolas Sisitg</n-title-bar>
        <n-user-card></n-user-card>
        <div class="contentWrap padding">
          <n-content-display></n-content-display>
        </div>
      </div>
    </m-overwrite-container>
    <script class="server" src="private/render/linker.js"></script>
  </body>
</html>
