.contentWrap {
  display: flex;
  flex-direction: column;
  gap: var(--contentSpacing);
}

.padding {
  padding: var(--contentSpacing);
}

#mainWrap {
  overflow-y: auto;
  height: 100vh;
}

n-content-display {
  max-width: 400px;
}

#contentWrap {
  align-items: center;
}

#contentWrap * {
  width: 100%;
}
