.contentWrap {
  display: flex;
  flex-direction: column;
  gap: var(--contentSpacing);
}

.padding {
  padding: var(--contentSpacing);
}

#selectionWrap {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: none;
}

.selection {
  width: 50%;
  height: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#verticalLine {
  width: 1px;
  background-color: var(--grey);
}

#fileUpload {
  display: none;
}

#customFileUpload {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-direction: column;
}

#fileUploadWrap {
  display: none;
}

#send {
  display: none;
}

#textInput {
  display: none;
}

#uploadNotice {
  display: none;
}
